header {

    display: inline-block;
    vertical-align: top;
}

.logo {
    width:23%;
    padding:1%;
    text-align-last: center;
}

nav{
    display: inline;
    width:73%;
    padding:1%;
}
ul{
    width:50%;
    margin-left: auto;
}

image{
    height: 600 px;
    padding: 25px;
}

.content{
    width:500px;
    margin:0 auto;

}

ul{
    display: inline-block;
    vertical-align: top;
    
}
.li {
    padding: 4px;
}