
body {
    font-family: 'Inconsolata', monospace;
}    

header {
    /* display: inline-block; */
    display: flex;
}

.content{
    background-color: rgb(241, 241, 200);
}

h1{
    color: white;
    background-color: rgb(3, 95, 3);
    padding: 2%;
    margin-top: 0%;
}

h4{
    margin-left: 2%;
}

p {
    margin-left: 2%;
}

img{
    width:25%;


}
.image {
    display:inline;
}


.content{
    width:75%;
    /* border: 1px red solid; */

}


nav ul{
    font-family: monospace;
    display: flex;
    justify-content: center;
    width:98%;
    padding:1%;
    margin: 0;
    /* border: 1px red solid; */
    list-style-type: none;
}



nav li{
    /* display: inline-block; */
    vertical-align: top;    
    padding: 4px;    
}

.inline-block {
    border:black solid 1px;

}
