
    
header {
    background-color: whitesmoke;
    display: inline-block;
    vertical-align: top;
    
}

.inline-block{
    display: inline-block;
    margin-top: 0%;
}

.logo {
    float:left;
    padding: 0px;
}

.navigation{
    width: 80%;
    margin: 0 auto;
    padding: 0%;
}

nav{
    width: 73%;
    margin-right: auto;
}



nav ul{
    display: inline-block;
    width:80%;
    padding:1%;
    margin: 0;
}



.content{
    width:500px;
    margin:0 auto;

}

nav li{
    display: inline-block;
    vertical-align: top;    
    padding: 4px;
    margin-left: 100%;
    
}
.container{
    width: 80%;
    margin: 0 auto;
    padding: 0%;
}