
    
header {
    /* display: inline-block; */
    display: flex;
}

img{
    width:25%;


}
.image {
    display:inline;
}


.content{
    /* float:inline-end; */
    width:75%;
    border: 1px red solid;
    font-family: 'Inconsolata', monospace;
}



/* .inline-block{
    display: inline-block;
    margin-top: 0%; */
/* } */


nav ul{
    display: flex;
    width:98%;
    padding:1%;
    margin: 0;
    border: 1px red solid;
    list-style-type: none;
}



nav li{
    /* display: inline-block; */
    vertical-align: top;    
    padding: 4px;
    /* margin-left: 100%; */
    
}

